@use "sass:map";

$breakpoints: (
  xs: 390px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1920px,
);

@function get-breakpoint($point) {
  @return map.get($breakpoints, $point);
}

@mixin breakpoint($point) {
  @media screen and (max-width: get-breakpoint($point)) {
    @content;
  }
}
