@use "sass:color";

@import "functions";
@import "mixins";

// Common colors
$color-white: #fff;
$color-black: #000;

// Blue palette
$color-blue-base: #33394f;
$color-blue-palette: color-palette($color-blue-base);

$color-blue-50: get-color-50($color-blue-palette);
$color-blue-100: get-color-100($color-blue-palette);
$color-blue-200: get-color-200($color-blue-palette);
$color-blue-300: get-color-300($color-blue-palette);
$color-blue-400: get-color-400($color-blue-palette);
$color-blue-500: get-color-500($color-blue-palette);
$color-blue-600: get-color-600($color-blue-palette);
$color-blue-700: get-color-700($color-blue-palette);
$color-blue-800: get-color-800($color-blue-palette);

// Green palette
$color-green-base: #5cb85c;
$color-green-palette: color-palette($color-green-base);

$color-green-50: get-color-50($color-green-palette);
$color-green-100: get-color-100($color-green-palette);
$color-green-200: get-color-200($color-green-palette);
$color-green-300: get-color-300($color-green-palette);
$color-green-400: get-color-400($color-green-palette);
$color-green-500: get-color-500($color-green-palette);
$color-green-600: get-color-600($color-green-palette);
$color-green-700: get-color-700($color-green-palette);
$color-green-800: get-color-800($color-green-palette);

// Red palette
$color-red-base: #f44336;
$color-red-palette: color-palette($color-red-base, 8%, 5%);

$color-red-50: get-color-50($color-red-palette);
$color-red-100: get-color-100($color-red-palette);
$color-red-200: get-color-200($color-red-palette);
$color-red-300: get-color-300($color-red-palette);
$color-red-400: get-color-400($color-red-palette);
$color-red-500: get-color-500($color-red-palette);
$color-red-600: get-color-600($color-red-palette);
$color-red-700: get-color-700($color-red-palette);
$color-red-800: get-color-800($color-red-palette);

// Pink palette
$color-pink-base: #fc728b;
$color-pink-palette: color-palette($color-pink-base, 5%);

$color-pink-50: get-color-50($color-pink-palette);
$color-pink-100: get-color-100($color-pink-palette);
$color-pink-200: get-color-200($color-pink-palette);
$color-pink-300: get-color-300($color-pink-palette);
$color-pink-400: get-color-400($color-pink-palette);
$color-pink-500: get-color-500($color-pink-palette);
$color-pink-600: get-color-600($color-pink-palette);
$color-pink-700: get-color-700($color-pink-palette);
$color-pink-800: get-color-800($color-pink-palette);

// Gradient
$gradient-primary: generate-gradient(
  120deg,
  rgba(244, 195, 149, 1),
  rgba(242, 127, 148, 1)
);
