@use "sass:color";
@use "sass:map";

@import "functions";
@import "mixins";

//* ------------- Colors

// Common colors
$color-white: #fff;
$color-black: #000;

// Blue palette
$color-blue-base: #33394f;
$color-blue-palette: color-palette($color-blue-base);

$color-blue-50: get-color-50($color-blue-palette);
$color-blue-100: get-color-100($color-blue-palette);
$color-blue-200: get-color-200($color-blue-palette);
$color-blue-300: get-color-300($color-blue-palette);
$color-blue-400: get-color-400($color-blue-palette);
$color-blue-500: get-color-500($color-blue-palette);
$color-blue-600: get-color-600($color-blue-palette);
$color-blue-700: get-color-700($color-blue-palette);
$color-blue-800: get-color-800($color-blue-palette);

// Green palette
$color-green-base: #5cb85c;
$color-green-palette: color-palette($color-green-base);

$color-green-50: get-color-50($color-green-palette);
$color-green-100: get-color-100($color-green-palette);
$color-green-200: get-color-200($color-green-palette);
$color-green-300: get-color-300($color-green-palette);
$color-green-400: get-color-400($color-green-palette);
$color-green-500: get-color-500($color-green-palette);
$color-green-600: get-color-600($color-green-palette);
$color-green-700: get-color-700($color-green-palette);
$color-green-800: get-color-800($color-green-palette);

// Red palette
$color-red-base: #f44336;
$color-red-palette: color-palette($color-red-base, 8%, 5%);

$color-red-50: get-color-50($color-red-palette);
$color-red-100: get-color-100($color-red-palette);
$color-red-200: get-color-200($color-red-palette);
$color-red-300: get-color-300($color-red-palette);
$color-red-400: get-color-400($color-red-palette);
$color-red-500: get-color-500($color-red-palette);
$color-red-600: get-color-600($color-red-palette);
$color-red-700: get-color-700($color-red-palette);
$color-red-800: get-color-800($color-red-palette);

// Pink palette
$color-pink-base: #fc728b;
$color-pink-palette: color-palette($color-pink-base, 5%);

$color-pink-50: get-color-50($color-pink-palette);
$color-pink-100: get-color-100($color-pink-palette);
$color-pink-200: get-color-200($color-pink-palette);
$color-pink-300: get-color-300($color-pink-palette);
$color-pink-400: get-color-400($color-pink-palette);
$color-pink-500: get-color-500($color-pink-palette);
$color-pink-600: get-color-600($color-pink-palette);
$color-pink-700: get-color-700($color-pink-palette);
$color-pink-800: get-color-800($color-pink-palette);

// Gradient
$gradient-primary: generate-gradient(
  120deg,
  rgba(244, 195, 149, 1),
  rgba(242, 127, 148, 1)
);

//* ------------- Sizes

$font-sizes: (
  "xs": 10px,
  "sm": 12px,
  "base": 16px,
  "md": 18px,
  "lg": 24px,
  "xl": 36px,
  "xxl-1": 48px,
  "xxl-2": 64px,
);

$font-size-xs: map.get($font-sizes, "xs");
$font-size-sm: map.get($font-sizes, "sm");
$font-size-base: map.get($font-sizes, "base");
$font-size-md: map.get($font-sizes, "md");
$font-size-lg: map.get($font-sizes, "lg");
$font-size-xl: map.get($font-sizes, "xl");
$font-size-xxl-1: map.get($font-sizes, "xxl-1");
$font-size-xxl-2: map.get($font-sizes, "xxl-2");

$spacing-sizes: (
  "none": 0,
  "xs": 4px,
  "sm": 8px,
  "base": 16px,
  "md": 24px,
  "lg": 32px,
  "xl": 48px,
  "xxl-1": 64px,
  "xxl-2": 96px,
  "xxl-3": 140px,
  "xxl-4": 256px,
);

$spacing-none: map.get($spacing-sizes, "none");
$spacing-xs: map.get($spacing-sizes, "xs");
$spacing-sm: map.get($spacing-sizes, "sm");
$spacing-base: map.get($spacing-sizes, "base");
$spacing-md: map.get($spacing-sizes, "md");
$spacing-lg: map.get($spacing-sizes, "lg");
$spacing-xl: map.get($spacing-sizes, "xl");
$spacing-xxl-1: map.get($spacing-sizes, "xxl-1");
$spacing-xxl-2: map.get($spacing-sizes, "xxl-2");
$spacing-xxl-3: map.get($spacing-sizes, "xxl-3");
$spacing-xxl-4: map.get($spacing-sizes, "xxl-4");

$rounded-sizes: (
  "none": 0,
  "sm": 4px,
  "base": 8px,
  "md": 12px,
  "lg": 16px,
  "xl": 24px,
  "xxl": 32px,
);

$rounded-none: map.get($rounded-sizes, "none");
$rounded-sm: map.get($rounded-sizes, "sm");
$rounded-base: map.get($rounded-sizes, "base");
$rounded-md: map.get($rounded-sizes, "md");
$rounded-lg: map.get($rounded-sizes, "lg");
$rounded-xl: map.get($rounded-sizes, "xl");
$rounded-xxl: map.get($rounded-sizes, "xxl");
